html {
  font-size: 14px;
}

.card{

  margin:auto;
  min-width: 260px;
}
.container {
  max-width: 100%;
}

.card-deck {
  min-width: 260px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

}

@media (min-width:831px){
  .card{
    max-width: 23%;
    margin: auto;
  }

}
@media (max-width:830px){
  .card{
    max-width: 60%;
    margin: auto;
  }
}




