@media (max-width: 576px){

.custom-background-color{
    background-color:orange;
     color:white;
     font-weight: bold;
    }
    .image-size{
        max-width: 60%;

    }
}

@media (min-width: 577px){
    .custom-span-color{
        background-color:orange;
        color:white;
        padding: 1em;
        font-weight: bold;
    }
    .image-size{
        max-width: 60%;
    }
}

.section-header{
    color: orange;
    font-weight: bold;
    padding-bottom:0.1em;
    border-bottom: 0.03em solid lightgray;
    margin-bottom: 0.5em;
    
}
a.link-color{
    color:orange;
}
a:hover{
    color: lightgrey;
}
a:visited{
    color:orange;
}
a.open{
    color: orange;
    font-weight: bold;
}